<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @permission.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @permission.description %>
</p>

<p>
  <strong>Action:</strong>
  <%= @permission.action %>
</p>

<p>
  <strong>Controller:</strong>
  <%= @permission.controller %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
