<%= form_for(@role) do |f| %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :scope %> <br>
      <%= f.select :scope, Role.scopes.keys.map { |scope| [scope.humanize, scope] },
                   {include_blank: t('helpers.select.prompt')}, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
