<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">Main Navigation</li>
      <li class="treeview">
        <a href="javascript:;">
          <i class="fa fa-lightbulb-o"></i> <span>Proyectos</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_item '<i class="fa fa-circle-o"></i> Nuevo Proyecto'.html_safe, 'javascript:;' %>
          </li>
          <li>
            <%= link_item '<i class="fa fa-circle-o"></i> Listado de Proyectos'.html_safe, 'javascript:;' %>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="javascript:;">
          <i class="fa fa-exclamation"></i> <span>Quejas y Denuncias</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_item '<i class="fa fa-circle-o"></i> Nueva Queja o Denuncia'.html_safe, 'javascript:;' %>
          </li>
          <li>
            <%= link_item '<i class="fa fa-circle-o"></i> Listado de Quejas y Denuncias'.html_safe, 'javascript:;' %>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="javascript:;">
          <i class="fa fa-microphone"></i> <span>Audiencias</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_item '<i class="fa fa-circle-o"></i> Nueva Audiencia'.html_safe, 'javascript:;' %>
          </li>
          <li>
            <%= link_item '<i class="fa fa-circle-o"></i> Listado de Audiencias'.html_safe, 'javascript:;' %>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="javascript:;">
          <i class="fa fa-file-text-o"></i> <span>Curriculums</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_item '<i class="fa fa-circle-o"></i> Nuevo Curriculum'.html_safe, 'javascript:;' %>
          </li>
          <li>
            <%= link_item '<i class="fa fa-circle-o"></i> Listado de Curriculums'.html_safe, 'javascript:;' %>
          </li>
        </ul>
      </li>
      <li class="header">Acceso</li>
      <li class="treeview">
        <a href="javascript:;">
          <i class="fa fa-ban"></i> <span>Permisos</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_item '<i class="fa fa-circle-o"></i> Nuevo Permiso'.html_safe, new_permission_path %>
          </li>
          <li>
            <%= link_item '<i class="fa fa-circle-o"></i> Listado de Permisos'.html_safe, permissions_path %>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="javascript:;">
          <i class="fa fa-lock"></i> <span>Roles</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_item '<i class="fa fa-circle-o"></i> Nuevo Rol'.html_safe, new_role_path %>
          </li>
          <li>
            <%= link_item '<i class="fa fa-circle-o"></i> Listado de Roles'.html_safe, roles_path %>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="javascript:;">
          <i class="fa fa-users"></i> <span>Usuarios</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_item '<i class="fa fa-circle-o"></i> Nuevo Usuario'.html_safe, new_user_registration_path %>
          </li>
          <li>
            <%= link_item '<i class="fa fa-circle-o"></i> Listado de Usuarios'.html_safe, user_registrations_path %>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
