<div>
  <center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" bgcolor="#eaeced">
      <tbody>
      <tr style="display:none!important; max-height:0!important; line-height:0!important;">
        <td valign="top" align="top" style="display:none!important; max-height:0!important; line-height:0!important;">
          <div style="color:inherit; font-size:inherit; line-height:inherit; margin:inherit; padding:inherit;"></div>
        </td>
      </tr>

      <tr>
        <td align="center" valign="top">
          <table width="600" border="0" cellpadding="0" cellspacing="0" valign="top">
            <tbody>
            <tr>
              <td align="center" valign="top">
                <table width="580" border="0" cellpadding="0" cellspacing="0" valign="top">
                  <tbody>
                  <tr height="0">
                    <td align="center" valign="top">
                      <div style="color:inherit; font-size:inherit;
                          line-height:inherit; margin:inherit; padding:inherit;">
                      </div>
                    </td>
                  </tr>
                  <tr style="height:40px; font-size:1px!important; line-height:1px!important; display:block;">
                    <td>&nbsp;</td>
                  </tr>
                  </tbody>
                </table>
                <table width="96.8%" border="0" cellpadding="0" cellspacing="0" valign="top">

                  <tbody>
                  <tr>
                    <td align="center">
                    </td>
                  </tr>

                  <tr style="height:25px; font-size:1px!important; line-height:1px!important; display:block;">
                    <td>&nbsp;</td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>

      <tr>
        <td align="center" valign="top">
          <table width="580" border="0" cellpadding="0" cellspacing="0" valign="top" style="overflow:hidden!important;">
            <tbody>
            <tr>
              <td align="center" valign="top" width=580" bgcolor="white">
                <div style="font-size:40px!important; color:black!important;
                    font-family:'Roboto',sans-serif!important; height: 100px; padding-top: 40px;
                    font-weight: 200; width:60%!important; margin:30px!important; ">
                  Control de <b>Gestión</b>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>

      <tr>
        <td align="center">
          <h1 style="margin:0!important; font-family:'Open Sans',sans-serif!important; font-size:34px;
              background-color: white!important; color:#252b33!important; font-weight:200!important;
              line-height:1.4!important; width:580px;">
          </h1></td>
      </tr>

      <tr height="0">
        <td align="center" valign="top">
          <table width="580" border="0" cellpadding="0" cellspacing="0" valign="top">
            <tbody>
            <tr>
              <td align="center">
                <h1 style="margin:0!important; font-family:'Open Sans',sans-serif!important; font-size:34px;
                    color:#252b33!important; font-weight:300!important; line-height:1.4!important;">
                  <%= t('users.mailer.reset_password_instructions.hello', name: @user.full_name) %>
                </h1></td>
            </tr>
            <tr style="height:13px; font-size:1px!important; line-height:1px!important; display:block;">
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td align="center">
                <p style="margin:0!important; font-family:'Open Sans',sans-serif!important;
                    font-size:16px; color:#7e8890!important; font-weight:400!important; line-height:1.875!important;">
                  <%= t('users.mailer.reset_password_instructions.instructions') %>
                </p></td>
            </tr>

            <tr height="80">
              <td align="center">
                <a href="#">
                  <div src="" width="50.0" height="47.0" style="border:0!important;">
                    <%= link_to "<span style='color:#fff; background:#f2be35; padding:12px 20px;'>#{
                    t('users.mailer.reset_password_instructions.change_password')}</span>".html_safe,
                                edit_password_url(@resource, reset_password_token: @token),
                                style: 'text-decoration:none; font-size:18px; text-align:center;
                                vertical-align:middle; font-weight:normal;' %>
                  </div>
                </a>
              </td>
            </tr>

            <tr style="padding-top:20px!important;">
              <td align="center">
                <p style="margin:0!important; font-family:'Open Sans',sans-serif!important;
                    font-size:14px; color:#7e8890!important; font-weight:400!important; line-height:1.875!important;">
                  <%= t('users.mailer.reset_password_instructions.ignore') %> <br>
                  <%= t('users.mailer.reset_password_instructions.message') %>
                </p></td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>

      <tr height="50">
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td align="center" valign="top">
          <table width="580" border="0" cellpadding="0" cellspacing="0" valign="top" style="overflow:hidden!important;">
            <tbody>
            <tr>
              <td align="center" valign="top">
                <div>
                  <p style="margin-bottom:1em; font-family:Geneva,Verdana,Arial,Helvetica,sans-serif; text-align:center;
                      font-size:10px; line-height:1.45; color:#7e8890; display:block;">
                    Todos los derechos Reservados
                  </p>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
      </tbody>
    </table>
  </center>
</div>
