<h2>Change user password</h2>

<%= form_for(@user, url: {action: :save_user_password}, validate: true, html: {class: 'form-horizontal'})  do |f| %>

    <div class="field">
      <%= f.label :password %><br/>
      <%= f.password_field :password, autofocus: true, autocomplete: 'off' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation%><br/>
      <%= f.password_field :password_confirmation, autocomplete: 'off' %>
    </div>

    <div class="actions">
      <%= f.submit "Update User Password" %>
    </div>
<% end %>