<div class="col-md-8 col-md-offset-2">
  <section class="content-header">
    <h1><%= t '.title' %></h1>
  </section>
  <section class="content">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Estado</h3>
        <div class="box-tools">
        </div>
      </div>
      <%= form_for(@user, url: {action: 'save_password'}, validate: true, html: {class: 'form-horizontal'}) do |f| %>
          <div class="form-body">
            <div class="form-group">
              <%= f.label :current_password, class: 'col-md-3 control-label' %>
              <div class="col-md-9">
                <%= f.password_field :current_password, autofocus: true, class: 'form-control',
                                     placeholder: t('.current'), autocomplete: 'off' %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :password, class: 'col-md-3 control-label' %>
              <div class="col-md-9">
                <%= f.password_field :password, class: 'form-control', placeholder: t('.new'), id: 'Password',
                                     autocomplete: 'off' %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, class: 'col-md-3 control-label' %>
              <div class="col-md-9">
                <%= f.password_field :password_confirmation, class: 'form-control', placeholder: t('.confirm'),
                                     autocomplete: 'off' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-3 control-label"></div>
              <div class="col-md-9">
                <div class="progress">
                  <div id="StrengthProgressBar" class="progress-bar"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <div class="row">
              <div class="col-md-offset-3 col-md-9">
                <%= f.submit t('helpers.submit.update', model: t('.resource')), class: 'btn btn-flat btn-success' %>
                <%= link_to t('.back'), :back, class: 'btn btn-flat btn-danger' %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </section>
</div>
